<footer class="footer footer-dark">
    <div class="container">
        <div class="row pt-md justify-content-between">
            <div class="col-lg-2 mb-5 mb-lg-0">
                <a href="https://www.acnc.gov.au/charity/1d5b157f7924ff62934af0a005596c2c">
                    <img src="@Context.GetLink("/assets/img/ACNC-Registered-Charity-Logo_mono.png")" alt="Registered charity tick">
                </a>
            </div>
            <div class="col-lg-3 mt-3 mb-5 mb-lg-0">
                <p>Wyuna Community Inc is a charity registered with the Australian Charities and Not-for-profits Commission.</p>
            </div>
            <div class="col-lg-2 col-4 col-sm-4 ml-lg-auto mb-5 mb-lg-0">
                <h6 class="heading mb-3">Links</h6>
                <ul class="list-unstyled">
                    <li><a href="@Context.GetLink("/about")">About</a>
                    </li>
                    <li><a href="@Context.GetLink("/contact")">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row align-items-center justify-content-md-between py-4 mt-4 delimiter-top">
            <div class="col-md-6">
                <div class="copyright text-sm font-weight-bold text-center text-md-left">
                    &copy; 2025 Wyuna Community Inc. All rights reserved.
                </div>
            </div>
            <div class="col-md-6">
                <ul class="nav justify-content-center justify-content-md-end mt-3 mt-md-0">
                    <li class="nav-item">
                        <a class="nav-link" href="https://github.com/gaelian/wyuna-public-website">
                            <i class="fab fa-github"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
