
<header class="header-transparent" id="header-main">

    <!-- Main navbar -->
    <nav class="navbar navbar-main navbar-expand-lg navbar-sticky navbar-transparent navbar-dark" id="navbar-main">
        <div class="container">
            <a class="navbar-brand mr-lg-5" href="@Context.GetLink("/")">
                <!--<img alt="Image placeholder" src="../assets/img/brand/white.png" style="height: 50px;">-->
                Wyuna Community Inc.
            </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-main-collapse" aria-controls="navbar-main-collapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbar-main-collapse">
                <ul class="navbar-nav align-items-lg-center">
                    <li class="nav-item ">
                        <a class="nav-link" href="@Context.GetLink("/about")">About</a>
                    </li>
                    <li>
                        <a class="nav-link" href="@Context.GetLink("/contact")">Contact</a>
                    </li>
                </ul>

            </div>
        </div>
    </nav>
</header>
