@{
	Layout = "/_Master.cshtml";
	if(!ViewData.ContainsKey("Area"))
	{
		ViewData["Area"] = Model.String(Keys.Title);
	}
}

   <main>
        <!-- Spotlight -->
        <section class="slice slice-lg bg-gradient-dark">
            <div class="container pt-lg">
                <div class="row">
                    <div class="col-lg-8">
                        <h2 class="display-4 text-white">@ViewData["Area"]</h2>
                        <h5 class="mb-4 text-white">@Document["SubTitle"]</h5>
                    </div>
                </div>
            </div>
            <a href="#sct-faq" class="tongue tongue-bottom tongue-white scroll-me">
                <i class="fas fa-angle-down"></i>
            </a>
        </section>

        <section class="slice slice-lg" id="sct-faq">
            <div class="container">
                <div class="row row-grid">
                    <div class="col-lg-11 ml-lg-auto">
						@RenderBody()
                    </div>
                </div>
            </div>
        </section>
    </main>
